name: basic
on: [push]
jobs:
   basic:
      runs-on: ubuntu-latest
         steps:
             - uses: actions/checkout@v4
             - run: g++ main.cpp my_add.cpp -o main
             - ./main 4 6
